@import '@/styles/tokens.scss';

.root {
  position: relative;
  margin: 1rem;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.userButton {
}

.content {
  margin: 0 auto;
}

.mainContent {
  // font
  font-family: $font-body;
  flex-direction: column;
  align-items: center;
}
